@import '/main_venus.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

@font-face {
  font-family: "Hamiltone";
  src: local("mr_HamiltoneG"), url(assets/fonts/mr_HamiltoneG.ttf) format('truetype');
  /*src: local("Rosa Marena"), url("assets/fonts/Rosa Marena.ttf") format('truetype');*/
  font-weight: 400;
  font-style: normal
}

:root {
  --color-red: #fa0101;
  --color-black: #000;
  --color-grey: #ccc;
}

::selection {
  color: #ccc;
  background: rgba(0, 0, 0, .6);
}

* {
  box-sizing: border-box;
}

html {
  overflow: initial;
}

body {
  color: var(--color-black);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  background-color: var(--color-grey);
  overflow: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.g__burger {
  position: relative;
  display: block;
  cursor: pointer
}

.g__burger-line-list {
  position: relative;
  width: 26px;
  height: 18px;
}

.g__burger .g__burger-line-animation-line-list, .g__burger .g__burger-line-animation-line-list-2 {
  display: none !important;
  transition: .6s cubic-bezier(.005, -.050, .11, .845);
  opacity: 0;
}

.g__burger.hovered .g__burger-line-animation-line-list, .g__burger.hovered .g__burger-line-animation-line-list-2 {
  opacity: 1
}

.g__burger .g__burger-line-inner-list {
  transition: .8s cubic-bezier(.005, -.050, .11, .845);
  opacity: 1;
}

.g__burger.hovered .g__burger-line-inner-list {
  opacity: 0
}

.g__burger-line-item-outer {
  position: relative;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1px;
  overflow: hidden
}

.g__burger-line-item-outer.g__burger-line-item-outer-0 {
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  width: 80%;
  height: 4px;
}

.g__burger-line-item-outer.g__burger-line-item-outer-1 {
  height: 3px
}

.g__burger-line-item-outer.g__burger-line-item-outer-2 {
  height: 2px;
  margin-top: 6px
}

.g__burger-line-item-outer.g__burger-line-item-outer-2 .g__burger-line-item {
  transition: .3s cubic-bezier(.005, -.050, .11, .845)
}

.g__burger-line-item-outer.g__burger-line-item-outer-3 .g__burger-line-item {
  transition: .3s cubic-bezier(.005, -.050, .11, .845)
}

.g__burger:hover .g__burger-line-item-outer.g__burger-line-item-outer-2 .g__burger-line-item {
  transform: translateX(-8px)
}

.g__burger:hover .g__burger-line-item-outer.g__burger-line-item-outer-3 .g__burger-line-item {
  transform: translateX(-18px)
}

.g__burger-line-item-outer.g__burger-line-item-outer-3 {
  height: 1px;
  margin-top: 6px
}

.g__burger-line-item {
  width: 100%;
  height: 100%
}

.g__burger-line-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transition: .6s cubic-bezier(.005, -.050, .11, .845)
}
